 <!-- Плавающая кнопка контактов -->
    <div data-fls-socialbtn class="floating-contact" id="floatingContact">
        <div class="social-buttons" id="socialButtons">
            <a href="https://wa.me/79881512012" target="_blank" class="social-btn social-btn__wu --icon-s-wu" id="whatsappBtn">
            </a>
            <a href="https://t.me/mpc_sochi" target="_blank" class="social-btn social-btn__tg --icon-s-tg" id="telegramBtn">
            </a>
        </div>
        <button class="contact-main-btn animate" id="contactMainBtn">
          <a href="#" class="contact-main-btn--icon-mail"></a>
            <div class="orbit-container">
                <div class="orbit-icons">
                    <div class="orbit-icon whatsapp">
                        <div class="--icon-s-wu"></div>
                    </div>
                    <div class="orbit-icon telegram">
                       <div class="--icon-s-tg"></div>
                    </div>
                </div>
            </div>
        </button>
    </div>