<footer data-fls-footer class="legal-footer">
  <div class="legal-footer__container">
    <!-- Режим работы -->
    <div class="legal-footer__section legal-footer__section--hours">
      <h3 class="legal-footer__title">Режим работы</h3>
      <ul class="legal-footer__list">
        <li class="legal-footer__item">Понедельник — пятница: 9:00 – 17:00</li>
        <li class="legal-footer__item">Сб-Вс: Выходной</li>
      </ul>
    </div>

    <!-- Навигация -->
    <div class="legal-footer__section legal-footer__section--nav">
      <h3 class="legal-footer__title">Навигация</h3>
      <ul class="legal-footer__list">
        <li class="legal-footer__item"> <a href="/src/index.html" class="legal-footer__link">Главная</a></li>
        <li class="legal-footer__item"> <a href="#news-section" class="legal-footer__link">Новости</a></li>
        <li class="legal-footer__item"> <a href="#services-section" class="legal-footer__link">Услуги</a></li>
        <li class="legal-footer__item"> <a href="#contact" class="legal-footer__link">Контакты</a></li>
      </ul>
    </div>

    <!-- соц сети -->
    <include data-fls-social src="@components/custom/social/social.html"></include>
    <!-- Партнеры -->
    <div class="legal-footer__section legal-footer__section--partners">
      <h3 class="legal-footer__title">Официальные ресурсы</h3>
      <div class="legal-footer__partners">
        <a href="https://мвд.рф" target="_blank" class="legal-footer__partner-link"
          title="Министерство внутренних дел РФ">
          <img src="@img/baners/mvd.jpg" alt="МВД России" class="legal-footer__partner-img">
        </a>
        <a href="https://gosuslugi.ru" target="_blank" class="legal-footer__partner-link"
          title="Портал государственных услуг">
          <img src="@img/baners/gos.jpg" alt="Госуслуги" class="legal-footer__partner-img">
        </a>
      </div>
    </div>
  </div>




  <div class="legal-footer__bottom">
    <p class="legal-footer__copyright">© 2023 Многофункциональный правовой центр. Все права защищены.</p>
    <p class="legal-footer__disclaimer">Информация на сайте не является публичной офертой</p>
  </div>
</footer>